<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 style="text-align: center; color:blueviolet">Product Describtion</h1>
    <h2>Name:<%=currentProduct.name%></h2>
    <h2>Price:<%=currentProduct.price%></h2>
    <h2>Quantity:<%=currentProduct.quantity%></h2>
    <p> <img src="<%=currentProduct.photo%>" width="230px" height="200px"></p>

    <p>Cras tortor nisl, dignissim in pharetra quis, cursus vitae risus. Donec sed est sed sapien suscipit pellentesque malesuada tempor sapien. Pellentesque mattis, erat quis convallis commodo, erat ligula scelerisque dolor, vel scelerisque diam elit at est. Duis id nibh maximus, congue erat et, pretium massa. Nulla id mattis augue. Maecenas dignissim imperdiet tincidunt. Quisque maximus risus ac consequat lacinia. Curabitur ut lectus nulla. Nam efficitur orci vel odio elementum tincidunt. Vivamus tincidunt purus sit amet diam gravida, at ultrices nisi suscipit. Nunc faucibus odio eget odio efficitur, a vestibulum nisi convallis. Vivamus gravida turpis sed interdum aliquam. Ut laoreet nec leo at posuere. Curabitur ultricies vulputate metus nec auctor.</p>
    
</body>
</html>